#quote {
    font-size: 23pt;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    grid-row: 1;
    grid-column: 1 / 4;
    padding: 0 0em;
    text-align: center;
}

#save {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    grid-row: 2;
    grid-column: 1;
    width:425px;
    text-align: left;
}

#wrapper {
    display: grid;
    justify-items: center;
    margin-left: auto;
    width: 70%;
    margin-right: auto;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    grid: 175px repeat(5, 110px) / 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap:0em 0;
    padding: 0 2%;
    height: 1000px;
    text-align: justify;
}

#right-big {
    grid-column: 2;
    grid-row: 4;
}

#left-big{
    grid-column: 1;
    grid-row: 3;
    width: 425px;
}

body {
    background-color: rgb(13, 14, 15);
    font-family: sans-serif;
}

#computerDollarQuote {
    grid-row: 7;
    grid-column: 2;
}

p {
    margin: auto;
    font-size: 11pt;
    width:425px;
    align-self: baseline;
}

#mini-wrapper {
    border: 1px solid white;
    grid-row: 6;
    grid-column: 1;
    display: grid;
    grid: 60px 100px 100px 100px 100px 75px/ 200px 200px;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
    font-size:11pt;
}

#specifications {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1 / 4;
    grid-row: 1;
    font-size:14pt;
    text-align: center;
}


#left {
    grid-column: 1;
    grid-row: 2/6;
    text-align: left;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding-left: 2em;
}

#right{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    grid-column: 2;
    grid-row: 2/6;
    padding-left: 1em;
}

@media screen and (max-width: 700px) {
    #quote {
        font-size: 14pt;
        text-align: left;
    }

    p {
        font-size: 12pt;
    }

    #wrapper {
        grid-gap: 0 0;
        grid: 200px repeat(16, 110px) / 1fr;
        align-items: center;
        justify-items: center;
        height: 2000px;
    }

    #bolded {
        font-size: 14pt;
        grid-row: 2;
    }

    #save {
        grid-row: 3;
        grid-column: 1;
        display:flex;
  align-items:center;
        
    }

    #mini-wrapper {
        border: 1px solid white;
        grid-row: 4;
        grid-column: 1;
        align-items: center;
        justify-items: center;
    }

    #easy {
        grid-row: 4;
        grid-column: 1;
    }

    #dual {
        grid-row: 5;
        grid-column: 1;
    }

    #better {
        grid-row: 6;
        grid-column: 1;
    }

    #room {
        grid-row: 7;
        grid-column: 1;
    }

    #industry-standard {
        grid-row: 8;
        grid-column: 1;
    }

    #high {
        grid-row: 9 / 10;
        grid-column: 1;
    }

    #more {
        grid-row: 10;
        grid-column: 1;
    }

    #computerDollarQuote {
        grid-row: 11;
        grid-column: 1;
    }

    body {
        padding: 0 0.5em;
    }


    #mini-wrapper {
        border: 1px solid white;
        grid-row: 14;
        grid-column: 1;
        display: grid;
        grid: 100px 1fr / 150px 150px;
    }

    #specifications {
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        grid-column: span;
        font-size: 14pt;
        grid-row: 1;
    }

    #left {
        grid-column: 1;
        text-align: left;
    }

}

@media screen and (min-width: 700px) and (max-width: 800px) {
    #quote {
        font-size: 16pt;
    }

    p {
        font-size: 12pt;
    }

    #wrapper {
        grid-gap: 0 0;
        grid: 200px repeat(16, 110px) / 1fr;
        align-items: center;
        height: 1500px;
        justify-items: center;
    }

    #bolded {
        font-size: 14pt;
        grid-row: 2;
    }

    #save {
        grid-row: 3;
        grid-column: 1;
    }

    #mini-wrapper {
        border: 1px solid white;
        grid-row: 4;
        grid-column: 1;
    }

    #easy {
        grid-row: 4;
        grid-column: 1;
    }

    #dual {
        grid-row: 5;
        grid-column: 1;
    }

    #better {
        grid-row: 6;
        grid-column: 1;
    }

    #room {
        grid-row: 7;
        grid-column: 1;
    }

    #industry-standard {
        grid-row: 8;
        grid-column: 1;
    }

    #high {
        grid-row: 9 / 10;
        grid-column: 1;
    }

    #more {
        grid-row: 10;
        grid-column: 1;
    }

    body {
        background-color: rgb(13, 14, 15);
    }

    #computerDollarQuote {
        grid-row: 11;
        grid-column: 1;
    }
    #left {
        grid-column: 1;
        text-align: left;
    }

}