/* It starts completely empty. I wish you luck. */

body {
    margin: 1rem;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "logo"
        "menu"
        "intro"
        "playground"
        "footer";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}

h1.game {
    grid-area: logo;
}

ul.menu {
    grid-area: menu;
}

#introduction {
    grid-area: intro;
}

#tetgrid {
    grid-area: playground;
}

footer {
    grid-area: footer;
}


@media screen and (min-width:850px)
{
    .wrapper{
        grid-template-areas:
    "logo       intro"
    "menu       menu"
    "playground playground"
    "footer     footer";
    }
}