h1
{ 
    color: rgb(0, 0, 0); 
    font-family: sans-serif; 
}

blockquote 
{ 
    /*background-color: rgb(226, 210, 188); */
    padding: 1rem; 
    border: 0.25rem; 
    border-style: solid; 
    border-color:rgb(146, 27, 27);
       /* float: left;*/
        width: 40%;
       /* padding: 2%;*/
margin-left: 50%;
}

h2 
{
    background-color: rgb(226, 210, 188); 
    border-left:6px solid rgb(146, 27, 27);
    padding: 0.5rem; 
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500;
}

.imgRegular
{
    width: 30vw;
    margin: 0.5vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%; */
}

.float {
    float: left; 
    margin: 1vw;
    width: 45vw;
 }